/* start header */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.navbar-brand,
.navbar-brand:hover {
  color: white;
  font-size: 2rem !important;
}
.navbar-nav a.nav-link {
  color: white;
  transition: 0.3s;
  position: relative;
  overflow: hidden;

  margin: 0 15px;
}
.navbar-nav .active .nav-link {
  color: #35a22c;
}

.navbar-nav a.nav-link::before {
  content: "";
  position: absolute;
  /* c1 */
  /* width: 0%; */
  /* c2 : tranform */
  width: 100%;
  transform: translateX(-100%);
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.navbar-nav a.nav-link:hover::before,
.navbar-nav .active .nav-link::before {
  /* width: 100%; */
  transform: translateX(0);
}
.navbar-nav a.nav-link:hover {
  color: #35a22c;
}
/* end header */

/* start carousel */
#carousel .carousel-item {
  height: 100vh;
  min-height: 500px;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

#carousel .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

#carousel .carousel-indicators .active {
  background-color: #35a22c;
}

/* start project */

#projects .nav {
  justify-content: center;
  margin: 50px 0 !important;
}
#projects .nav-pills .nav-link {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 10px;
  color: black;
  text-transform: capitalize;
}
#projects .nav-pills .nav-link.active {
  background: #35a22c;
  color: white;
  border-color: #35a22c;
}
#projects .card {
  margin-top: 30px;
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#projects .card-body {
  border: 2px solid transparent;
  border-top: none;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: 0.3s;
}
#projects .card-body h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#projects .card:hover .card-body {
  border-color: #35a22c;
}
/* end project */

/* start feature */
#features {
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 0px;
  background-attachment: fixed;
  position: relative;
}

#features::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    to right,
    #d38312,
    #a83279
  ); */
  background: rgba(0, 0, 0, 0.3);
}
.features__container {
  position: relative;
  z-index: 2;
}
.feature__item {
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #e8e8e8;
  transition: 0.3s;
}
.feature__item i {
  font-size: 3rem;
  color: #35a22c;
}
.feature__item h3 {
  margin: 20px 0px;
}
.feature__item:hover {
  background: #000;
  /* cursor: pointer; */
}
/* end feature */

#demo {
  background: #000;
  height: 300px;
}
/* min-width max-width */
/* 600px */

@media screen and (max-width: 768px) {
  #demo {
    /* 0 */
    background: blue;
  }
}
@media screen and (max-width: 992px) {
  #demo {
    /* 1 */
    background: red;
  }
  .projects__title h2 {
    font-size: 20px;
  }
}
/* max-width ~ desktop first */
/* breakpoint  */